# -*- mode: gitignore; -*-
*~
\#*\#
ps_*.h5
.\#*
\#*
ANL*
DONNA*
*pkl
donna.cfg
fnal-01.cfg
fnal-one-freq.txt
matched30_50.0us.txt
test_freq.txt
test_freq_NEW.txt
test_freq_cf.txt
tf-20171228.txt
*png